In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r'E:\Handson\Multicollinearity-master\data\Advertising.csv',encoding='latin1')

In [4]:
df.head(5)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
X = df[['TV', 'radio','newspaper']]
y = df['sales']
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [7]:
import statsmodels.api as sm

In [8]:
X = sm.add_constant(X)

In [9]:
X

     const     TV  radio  newspaper
0      1.0  230.1   37.8       69.2
1      1.0   44.5   39.3       45.1
2      1.0   17.2   45.9       69.3
3      1.0  151.5   41.3       58.5
4      1.0  180.8   10.8       58.4
..     ...    ...    ...        ...
195    1.0   38.2    3.7       13.8
196    1.0   94.2    4.9        8.1
197    1.0  177.0    9.3        6.4
198    1.0  283.6   42.0       66.2
199    1.0  232.1    8.6        8.7

[200 rows x 4 columns]

In [10]:

## fit a OLS model with intercept on TV and Radio

model= sm.OLS(y, X).fit()

In [11]:
model

In [12]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Tue, 01 Dec 2020   Prob (F-statistic):           1.58e-96
Time:                        19:51:13   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
radio          0.1885      0.009     21.893      0.000       0.172       0.206
newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# As this model is having less standard errors also P value is less than 0.05 and bychecking correlation using corr() function we came to a conclusion that multi collinearity issue is not there.

In [13]:
X.iloc[:,1:].corr()

                 TV     radio  newspaper
TV         1.000000  0.054809   0.056648
radio      0.054809  1.000000   0.354104
newspaper  0.056648  0.354104   1.000000

In [14]:
Data= pd.read_csv(r"E:\Handson\Multicollinearity-master\data\Salary_Data.csv",encoding='latin1')

In [15]:
Data.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [21]:
Data.columns

Index(['YearsExperience', 'Age', 'Salary'], dtype='object')

In [23]:
Y=Data.Salary
X=Data[['YearsExperience', 'Age']]

In [24]:

import statsmodels.api as sm

In [25]:
model1=sm.OLS(Y,X).fit()

In [26]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 Salary   R-squared (uncentered):                   0.996
Model:                            OLS   Adj. R-squared (uncentered):              0.995
Method:                 Least Squares   F-statistic:                              3108.
Date:                Tue, 01 Dec 2020   Prob (F-statistic):                    1.33e-33
Time:                        20:02:39   Log-Likelihood:                         -300.40
No. Observations:                  30   AIC:                                      604.8
Df Residuals:                      28   BIC:                                      607.6
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
YearsExperience  6814.1911    570.150     11.952      0.000    5646.291    7982.091
Age              1462.7324    123.591     11.835      0.000    1209.568    1715.897
==============================================================================
Omnibus:                        2.685   Durbin-Watson:                   1.714
Prob(Omnibus):                  0.261   Jarque-Bera (JB):                1.970
Skew:                           0.455   Prob(JB):                        0.373
Kurtosis:                       2.135   Cond. No.                         16.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [29]:
Data.iloc[:,:-1].corr()

                 YearsExperience       Age
YearsExperience         1.000000  0.987258
Age                     0.987258  1.000000

# As this model is having high standard errors but P value is less than 0.05, by checking correlation using corr() function we came to a conclusion that multi collinearity issue is there.
# As It's giving a good R^2 value, this model is well fitted.
To Overcome from this problem we can do two things :
1. Do nothing build the model using all features.
2. we have to remove one column which is having p value more than 0.05,here  we don't have any feature which is having pvalue less than 0.05 so that we can remove Age Feature.